# Multiple Linear Regression

In [3]:
import pandas as pd
df=pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [5]:
x=df[['TV','Radio','Newspaper']]
y=df[['Sales']]       ## Target is numeric so its regerssion

In [6]:
print(x)

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [7]:
print(y)

     Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=1/3,random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

regressor.fit(x_train,y_train)      ## fit

LinearRegression()

In [10]:
print(regressor.intercept_)
print(list(zip(regressor.coef_)))

[2.9037645]
[(array([0.0443459 , 0.19660591, 0.00262562]),)]

In [11]:
x_pred=regressor.predict(x_train)
y_pred=regressor.predict(x_test)

# matrics

In [12]:
import numpy as np
from sklearn import metrics

In [13]:
MeanAbErr=metrics.mean_absolute_error(y_test,y_pred)
print(MeanAbErr)

1.1855503777750762

In [14]:
MeanSqErr=metrics.mean_squared_error(y_test,y_pred)
print(MeanSqErr)

3.38647860549598